@import url('http://fonts.cdnfonts.com/css/circular-std');

$font-family-1: 'Circular Std', sans-serif;

body{
    font-family: $font-family-1 !important;
    background-color: #7352ff !important;
    color: #ffffff !important;
}

.mySpan{
    background-color: #929292 !important
}

@import "~bootstrap/scss/bootstrap";